:root {
    --black: rgb(0, 0, 0);
    --purple: rgb(94, 52, 235);
    --darkGreen: rgb(62, 181, 74);
    --darkBlue: rgb(28, 90, 189);
    --red: rgb(237, 26, 58);
    --magenta: rgb(219, 29, 118);
    --brown: rgb(199, 80, 20);
    --lightGrey: rgb(238, 238, 238);
    --darkGrey: rgb(56, 56, 56);
    --lightPurple: rgb(130, 134, 245);
    --lightGreen: rgb(96, 230, 110);
    --lightBlue: rgb(80, 177, 242);
    --lightRed: rgb(255, 97, 121);
    --pink: rgb(255, 71, 191);
    --yellow: rgb(252, 218, 63);
    --white: rgb(255, 255, 255);
    --keywordBlack: black;
    --keywordWhite: white;
}

body {
    background-color: var(--lightGray);
}

* {

    /* font-family:'Fira Code', monospace; */

    box-sizing: border-box;
}

/*******************/
/* for the terminal */
#term_wrap {
    margin: 20px;
    resize: both;
    overflow: hidden;
}

.term {
    font-family: monospace,courier,fixed,swiss,sans-serif;
    font-weight: normal;
    font-variant-ligatures: none;
    color: #f0f0f0;
    background: #000000;
    line-height: normal;
    overflow: hidden;
    white-space: nowrap;
}

.term_content a {
    color: inherit;
    text-decoration: none;
}

.term_content a:hover {
    color: inherit;
    text-decoration: underline;
}

.term_cursor {
    color: #000000;
    background: #00ff00;
}

.term_char_size {
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: -1000px;
    padding: 0px;
}

.term_textarea {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
    padding: 0px;
    border: 0px;
    margin: 0px;
    opacity: 0;
    resize: none;
}

.term_scrollbar { position: relative; background-position: 0 0; float: right; height: 100%; }
.term_track { height: 100%; width:13px; position: relative; padding: 0 1px; }
.term_thumb {  height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
.term_thumb .term_end {  overflow: hidden; height: 5px; width: 25px; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }


#keyboard-icon {
    margin-left: 5px;
    margin-right: 5px;
}

/* file import */
#files {
    visibility: hidden;
    width:1px;
    height:1px;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

label {
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

#net_progress {
    visibility: hidden;
    width: 80px;
}

/*******************/


body {
    height: 100vh;
    margin: 0;
    padding: 20px;
    background-color: var(--white);
    color: var(--black);
    -webkit-print-color-adjust: exact;
}

body.fullscreen {
    background-color: black;
    color: white;
}

body.notSupported {
    padding-top: 20vh;
    padding-bottom: 20vh;
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: center;
}

body.notSupported h1 {
    color: var(--magenta);
    font-family: "Brass Mono", monospace;
}

/* canvas {
    position: absolute;
    background-color: #eeeeee;
    border-radius: 10px;
} */

body.fullscreen canvas {
    border-radius: 0;
}

a {
    color: var(--darkBlue);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.card {
    display: block;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--darkBlue);
    color: var(--white);
    border-radius: 10px;
    opacity: 1;
    transition: 0.5s opacity;
}

a.card:hover {
    text-decoration: none;
    opacity: 0.8;
}

a.card.darkBlue {
    background-color: var(--darkBlue);
}

a.card.purple {
    background-color: var(--purple);
}

a.card.pink {
    background-color: var(--pink);
    color: var(--black);
}

a.card.yellow {
    background-color: var(--yellow);
    color: var(--black);
}

a.card.darkGreen {
    background-color: var(--darkGreen);
}

a.card.red {
    background-color: var(--red);
}

a.card.magenta {
    background-color: var(--magenta);
}

a.card.brown {
    background-color: var(--brown);
}

button {
    padding: 10px;
    background-color: var(--darkBlue);
    color: var(--white);
    font-size: 20px;
    border: none;
    border-radius: 10px;
    opacity: 1;
    transition: 0.5s opacity;
    cursor: pointer;
}
button.disabled {
    padding: 10px;
    background-color: var(--darkBlue);
    color: var(--white);
    font-size: 20px;
    border: none;
    border-radius: 10px;
    opacity: 0.8;
    transition: 0.5s opacity;
    cursor: not-allowed;
}
button:hover.disabled {
    background-color: var(--darkBlue);
    opacity: 0.8;
}
button:hover {
    opacity: 0.8;
}

hr {
    height: 4px;
    border: none;
    background-color: var(--darkGrey);
    border-radius: 2px;
}

pre {
    padding: 10px;
    background-color: var(--white);
    color: var(--black);
    border-radius: 10px;
    overflow-x: auto;
}

code {
    margin-top: -2px;
    margin-bottom: -2px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: var(--white);
    color: var(--black);
    border-radius: 5px;
}

code, code * {
    font-family: "Brass Mono", monospace;
}

code span {
    margin-top: -2px;
    margin-bottom: -2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

code span.stringLiteral {
    color: var(--darkGreen);
}

code span.comment {
    color: var(--darkGrey);
}

code span.keyword {
    color: var(--keywordWhite);
    border-radius: 5px;
}

code span.keyword.blue {
    background-color: var(--darkBlue);
}

code span.keyword.purple {
    background-color: var(--purple);
}

code span.keyword.yellow {
    background-color: var(--yellow);
    color: var(--keywordBlack);
}

code span.keyword.green {
    background-color: var(--darkGreen);
}

code span.keyword.pink {
    background-color: var(--pink);
}

code span.keyword.magenta {
    background-color: var(--magenta);
}

code span.function {
    background-color: var(--magenta);
    color: var(--keywordWhite);
    border-radius: 5px;
}

code span.constant {
    background-color: var(--lightBlue);
    color: var(--keywordWhite);
    border-radius: 5px;
}

code span.bracket.bracket1 {
    opacity: 0.7;
}

code span.bracket.bracket2 {
    opacity: 0.4;
}

code span.bracket.bracket3 {
    opacity: 0.1;
}

code span.badBracket {
    color: var(--red);
}

code span.listAccess {
    color: var(--yellow);
}

code span.operator {
    color: var(--magenta);
}

code span.comparator {
    color: var(--darkBlue);
}

code span.statementSeperator {
    color: var(--darkBlue);
}

blockquote {
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding: 10px;
    background-color: rgba(255, 71, 191, 0.2);
    border-inline-start: 4px solid var(--pink);
    border-radius: 10px;
}

blockquote p:first-child {
    margin-top: 0;
}

blockquote p:last-child {
    margin-bottom: 0;
}

summary {
    cursor: pointer;
}

img {
    display: block;
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
}

h1.stylised {
    font-family: "Brass Mono", monospace;
}

h1.stylised a {
    font-family: inherit;
    color: var(--darkBlue);
}

h1.reference {
    font-size: 20px;
    margin-bottom: 0;
}

h1.reference + p {
    margin-top: 0;
}

h1.reference a.control {
    color: var(--darkBlue);
}

h1.reference a.io {
    color: var(--purple);
}

h1.reference a.functions {
    color: var(--magenta);
}

h1.reference a.lists {
    color: var(--yellow);
}

h1.reference a.turtle {
    color: var(--darkGreen);
}

h1.reference a.audio {
    color: var(--pink);
}

h1.reference a.constants {
    color: var(--lightBlue);
}

h1.reference a.operators {
    color: var(--magenta);
}

h1.reference a.comparators {
    color: var(--darkBlue);
}

.popoutOnly {
    display: none;
}

.mainOnly {
    display: block;
}

.tweetableCode {
    padding: 10px;
    background-color: var(--white);
    color: var(--black);
    border-radius: 10px;
    white-space: pre-wrap;
    overflow-x: auto;
}

#hidLog, #hidLive, #hidInput {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    font-family: "Brass Mono", monospace;
    overflow: hidden;
    white-space: pre;
    opacity: 0;
}

#docs {
    position: absolute;
    top: 20px;
    right: 0;
    width: 30%;
    height: calc(100vh - 40px);
    background-color: var(--lightGrey);
    color: var(--black);
    font-size: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: auto;
}
/* #exam #desciptor {
    height: 50%;
    background-color: rgb(4, 29, 29);
} */



#docs #docsButtons {
    width: 400px;
    padding: 5px;
    background-color: var(--lightGray);
}

#docs #docsButtons button {
    padding: 5px;
    background-color: transparent;
    color: var(--black);
    font-size: 16px;
    border-radius: 5px;
}

#docs #docsButtons button img {
    height: 24px;
}

#docs #docsContent {
    height: calc(100vh - 88px);
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;
}

#docs #docsContent > *:not(.popoutOnly):first-of-type {
    margin-top: 0;
}

#docs #docsContent img {
    max-width: 100%;
}

#docsPopout {
    height: unset;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 20px;
}

#docsPopout .popoutOnly {
    display: block;
}

#docsPopout .mainOnly {
    display: none;
}

#docsPopout #docsContent {
    margin-bottom: -10px;
    padding: 10px;
}

#docsPopout #docsContent *:first-child {
    margin-top: 0;
}

#docsPopout #docsContent *:last-child {
    margin-bottom: 0;
}

#docsPopout pre, #docsPopout code {
    background-color: var(--lightGrey);
}

@media (max-width: 500px) {
    img {
        max-width: 100%;
    }
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --black: rgb(255, 255, 255);
        --lightGrey: rgb(32, 32, 32);
        --white: rgb(16, 16, 16);
    }

    a.card {
        color: var(--dark);
    }

    #docs #docsButtons button img {
        filter: invert(1);
    }
}

@media print {
    @page {
        margin: 0.5cm;
    }

    body {
        margin: 1cm;
    }

    pre, blockquote {
        break-inside: avoid;
    }

    details:not([open]) {
        display: none;
    }
}

/* #descriptor {
    position: absolute;
} */

/* #eg {
    width: 666px;
} */

#exam {
    top: 20px;
    width: 49%;
    height: calc(100vh - 40px);
    /* background-color: var(--lightGrey); */
    color: var(--black);
    font-size: 20px;
    border-radius: 10px;
    overflow: auto;
}

#descriptor {
    width: 50%;
    left: 0;
    position: absolute;
    height: calc(100vh - 40px);
    background-color: var(--lightGrey);
    color: var(--black);
    font-size: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: auto;
}

#question {
    margin: 10px 10px 10px 10px;
    transition-duration: .4s;
}
#question:hover {
    box-shadow: 0px 10px 5px #888888;
}

#qtitle {
    text-align: center;
}
/* #eg {
    display: flex;
} */
#eg #egi {
    width: 50%;
    height: inherit;
    overflow: auto;
    border-style: solid;
    border-color: #bebdbd;
    text-align: center; 
    font-style: var(--white);
    /* background-color: rgb(43, 43, 43); */
    color: #67b137;
}

#qqq {
    overflow: auto;
}

#q0 {
    background-color: rgb(43, 43, 43);
    border-radius: 5px;
    padding: 5px;
    width: auto;
    overflow: auto;
}
#q0i {
    color: #67b137;
}
#q0o {
    color: #af621a;
}

#eg #ego {
    width: 50%;
    overflow: auto;
    border-style: solid;
    border-color: #bebdbd;
    text-align: center;
    /* background-color: rgb(43,43,43); */
    color: #af621a;
}

#editor {
    position: absolute;
    width: 50%;
    right: 0;
    height: 80%;
    font-family:'Fira Code', monospace;
  
    background-color: var(--lightGrey);
}

#run {
    width: 50%;
}
#editor_style {
    width: 50%;
    text-align: center;
}

#codeeditor {
    height: 100%;
}

#title {
    text-align: center;
}

#setting_container {
    display: flex;
    border-bottom: #f0f0f0;
    
}

/* .TEST {
    width: .7em;
    
}

.TESTP {
    cursor: pointer;
    background-color: #ca5157;
    width: .4em;
    height: .4em;
    border-radius: .2em;
    position: relative;
    top: .4em
} */


/* ----------------- */
.window {
    position: absolute;
    background-color: rgb(190, 202, 208);
    border: 1px hsla(198, 20%, 20%, 1) solid;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
  }
  
  .window header {
    padding: 2px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    background-color: hsl(199deg 25% 39%);
    text-align: center;
    cursor: move;

  }
  
  .window:focus header {
    background-color: hsl(199deg 26% 29%);
  }
  
  .window header icon {
    float: right;
    cursor: default;
    opacity: 0.5;
  }
  
  .window header icon:hover {
    opacity: 1;
  }
  
  .window header icon.close {
    /* Move it up a bit because it's ugly otherwise */
    position: relative;
    bottom: 2px;
  }
  
  .window header icon.doc {
    /* It's a single letter so it needs space around to be buttony */
    padding: 0px 8px 0px 8px;
  }
  
  .window content {
    min-height: 128px;
    min-width: 128px;
    display: block;
    padding: 8px;
    resize: both;
    overflow: auto;
  }
  
#icon {
    text-align: center;
    font-size: 58px;
}
#icon_success {
    color: #3ea653;
}
#icon_failed {
    color: #db3d3d;
}
#result {
    text-align: center;
}
#result .success {
    color: #3ea653;
}
#result .failed {
    color: #db3d3d;
}
/* ----------------------- */

table.paleBlueRows {
    border: 1px solid #FFFFFF;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  table.paleBlueRows td, table.paleBlueRows th {
    border: 0px solid #FFFFFF;
    padding: 3px 2px;
  }

  table.paleBlueRows tr:nth-child(even) {
    background: #D0E4F5;
  }
  table.paleBlueRows thead {
    background: #0B6FA4;
    border-bottom: 5px solid #FFFFFF;
  }
  table.paleBlueRows thead th {
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #FFFFFF;
  }
  table.paleBlueRows thead th:first-child {
    border-left: none;
  }
  
  /* ----------------- */


  canvas {
      width: 512px;
      height: 512px;
  }

  #debug_info {
      text-align: left;
      background-color: #000000;
  }
  #debug_info code {
      background-color: #000000;
      color: #D0E4F5;
  }

  #wrong_msg {
    color: #D0E4F5;
  }